<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell  *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <!-- Identifient Column -->
      <ng-container matColumnDef="identifiant">
        <th mat-header-cell *matHeaderCellDef> Identifiant </th>
        <td mat-cell *matCellDef="let element"> {{element.identifiant}} </td>
      </ng-container>
  
      <!-- Chantier Column -->
      <ng-container matColumnDef="chantier">
        <th mat-header-cell *matHeaderCellDef> Chantier </th>
        <td mat-cell *matCellDef="let element"> {{element.chantier}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[2]" showFirstLastButtons></mat-paginator>
  </div>