.import{
    position: absolute;
    left: 15%;
    top: 18%;
    bottom: 0%;
}
.import-button{
    position: absolute;
    background: #EA8100;
    border: 2px solid #EA8100;
    font-size: 20px;
    width: 6.5cm;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.import-button-text{
    position: relative;
    left: 0%;
    top: 0%;
    bottom: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    border-radius: 50px;
}

.saved{
    position: absolute;
    left: 15%;
    top: 30%;
    margin-bottom: 200px;
}
.saved-label{
    position: relative;
   
    width: 237px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;

    color: #8B999E;

}
.saved-table{
    margin-top: 10px;
}

.finished{
    position: absolute;
    left: 15%;
    top: 70%;
    bottom: 0%;
    margin-top: 30px;
    margin-bottom: 500px;
}
.finished-label{
    position: relative;
    width: 237px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 18px;

    color: #8B999E;
}
.finished-table{
    margin-top: 10px;
}

