<div class="import">
  <button class="import-button">
    <label  class="import-button-text">
      + nouvelle cartographie
    </label>
  </button>
</div>
<div class="tables">
  <div class="saved">
    <label class="saved-label">Cartographies sauvegardées</label> <!-- i icon here-->
      <div class="saved-table">
        <app-saved></app-saved>
      </div>
      
  </div>
  <div class="finished">
    <label class="finished-label">Fichier d'import finalisés</label> <!-- i icon here-->
    <div class="finished-table">
      <app-finished></app-finished>
    </div>
  </div>
</div>
