<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Date Column -->
    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.Date}} </td>
    </ng-container>

    <!-- Identifient Column -->
    <ng-container matColumnDef="IdCartographie">
      <th mat-header-cell *matHeaderCellDef> Identifiant </th>
      <td mat-cell *matCellDef="let element"> {{element.IdCartographie}} </td>
    </ng-container>

    <!-- Chantier Column -->
    <ng-container matColumnDef="Chantier">
      <th mat-header-cell *matHeaderCellDef> Chantier </th>
      <td mat-cell *matCellDef="let element"> {{element.Chantier}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action1">
      <th mat-header-cell *matHeaderCellDef> Action1 </th>
      <td mat-cell *matCellDef="let element"> {{element.Action1}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="Action2">
      <th mat-header-cell *matHeaderCellDef> Action2 </th>
      <td mat-cell *matCellDef="let element"> {{element.Action2}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[3,10,20]" showFirstLastButtons></mat-paginator>
</div>