table {
    position: relative;
    top: 50%;
    width:175%;

    border: 1px solid #BDBDBD;
    box-sizing: border-box;

    font-family: Roboto;
    text-decoration-color: black;
} 
th{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;

  color: #8B999E;
}
mat-paginator{
    width:174.8%;
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    font-family: Roboto;
}